
.parent {
    width: 70%; 
    height: 600px; 
    background-color: #3498db; 
    position: relative;
}

.child {
    width: 25%; 
    height: 10%; 
    background-color: #e74c3c; 
    position: absolute;
}