#white {
    color: rgb(255, 255, 255); /*white*/
}

#black {
    color: rgb(0, 0, 0); /* Black */
}

#red {
    color: rgb(255, 0, 0); /* Red */
}

#green {
    color: rgb(0, 255, 0); /* Green */
}

#blue {
    color: rgb(0, 0, 255); /* Blue */
}

#yellow {
    color: rgb(255, 255, 0); /* Yellow */
}

#cyan {
    color: rgb(0, 255, 255); /* Cyan */
}

#purple {
    color: rgb(128, 0, 128); /* Purple */
}

#orange {
    color: rgb(
}